{% extends 'personal_assistants/index.html' %}

{% block content %}

<p><h1><b><center>Available categories</center></b><h1></p>
{% for cat in categs %}
<div class="container">
    <div>
        <center><a href="{% url 'category_edit' pk=cat.pk %}">+Edit</a></center>
        <br><h1><a href="{% url 'category_detail' pk=cat.pk %}">{{ cat.name }}</a></h1>
        <div align='right'><a href="{% url 'category_delete' pk=cat.pk %}">Delete</a></div> 
        <hr class="style13">
        
            <style>
            hr.style13 {
                height: 10px;
                border: 0;
                box-shadow: 0 10px 10px -10px #8c8b8b inset;
            }
            </style>
    </div>    
</div>
{% endfor %}

{% endblock %}